body, html {
    margin: 0;
    background: #fafafa;
}

/* input styling */
input {
    border: 2px solid;
    border-radius: 4px;
    font-size: 1rem;
    margin: 0.25rem;
    min-width: 125px;
    padding: 0.5rem;
    transition: background-color 0.5s ease-out;
}

input:optional {
    border-color: gray;
}

input:invalid {
    border-color: red;
}

input:required{
    border-color: black;
}

input:required:valid {
    border-color: green;
}

input:required:focus:valid {
    background: url("assets/check.svg") no-repeat 95% 50% lightgreen;
    background-size: 25px;
  }

input:focus:invalid {
background: url("assets/error.svg") no-repeat 95% 50% lightsalmon;
background-size: 25px;
}

/* all content */
.content {
    background: black;
    display: flex;
    flex-direction: row;
    height: 100vh;
    
}

/* decoration on the left half of the screen */
.deco {
    display: flex;
    flex-direction:column;
    height: inherit;
    background-image: url("assets/khamkeo-vilaysing.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    width: 40%;
    flex-shrink: 0;
    color: black;
    align-items: center;
    overflow: hidden;
}

.logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40%;
    background: lightgray;
    opacity: 35%;
    height: 20%;
    width: 100%;
}

.logo img {
    height: 100%;
    width: auto;
    opacity: 50%;
}

.logo p {
    font-size: 60px;
    color: gray;
}

.attribute {
    background: lightgray;
    margin-top: auto;
    margin-bottom: 10px;
    opacity: 35%;
}

/* all content for the user (right half of the screen) */
.for-user {
    background: #fafafa;
    width: 67%;
    padding-left: 10px;
}

/* blurb at the top of the page */
.blurb-container {
    display: flex;
    align-items: center;
    height: 26%;
    width: 550px;
    padding: 0px 20px;
    flex-shrink: 0;
    border-radius: 15px;
}

.blurb-actual {
    width: 90%;
}

/* input fields */
.user-input {
    background: rgb(250,250,250);
    background: linear-gradient(135deg, rgba(250,250,250,1) 19%, rgba(236,236,236,1) 100%);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 10px;
    margin-left: -10px;
    box-shadow: 5px 7px #D4D4D4;
}

.user-input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-left: 20px;
}

.user-input-form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
}

.user-input > h2 {
    height: fit-content;
}

.user-input h2 {
    margin-bottom: 5px;
    margin-left: 20px;
}

.top-row {
    display:flex;
    flex-direction: row;
    width: fit-content;
    gap: 5px;
}

.middle-row {
    display:flex;
    flex-direction: row;
    width: fit-content;
    gap: 5px;
}

.bottom-row {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 5px;
}

.password-requirements {
    font-size: smaller;
    color: rgb(163, 163, 163);
    width: 250px;
    margin-left: 100px;
    margin-top: -5px;
    margin-bottom: -10px;
}

/* Below the dropshadow */
.create-button {
    background: black;
    margin-left: 20px;
    margin-top: 35px;
    width: fit-content;
}

.account-check {
    width: fit-content;
    margin-left: 20px;
}

.account-check p {
    margin-top: 25px;
}